<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KiteSpotterSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>KiteSpotterSample.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1004</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1028</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1076</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1084</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1091</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1153</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1162</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1175</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1196</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1220</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1240</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1253</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1274</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_144</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_151</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_160</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_169</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_184</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1897</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1933</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1940</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1963</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1980</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_232</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_240</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_309</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_318</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_331</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_352</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_988</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_995</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
